<h2>Adding events to @Directive</h2>

<p>
  Lesson 32. Adding events to style.directive.ts
</p>

<section>
  <h3>Add @HostListener to directive</h3>

  <p>
    Decorator that declares a DOM event to listen for, and provides 
    a handler method to run when that event occurs.
  </p>
  
  <a href="https://angular.io/api/core/HostListener" class="link">
    See more
  </a>

  <p>
    For see how it works, using mouse actions with demo text (mouseenter, 
    mouseleave, click(show event.target in console)).
  </p>
</section>

<section class="demo">
  <h3>Demo how it works</h3>
  
  <p appStyle>
    ... mariage politique qui n'empêche pas les Guise et le roi 
    Charles IX de fomenter les horreurs de la Saint-Barthélemy. 
    Sur les pas du jeune comte de La Mole, dont s'éprend éperdument 
    la belle Margot, et de son compagnon, le tonitruant 
    Annibal de Coconnas, nous entrons dans ce labyrinthe d'intrigues, 
    d'alliances, de trahisons. Les poignards luisent sous les pourpoints...
  </p>
</section>

