$tiffany: rgb(10, 186, 181);
$tiffany-transparent: rgba(10, 186, 181, 0.2);

$lavander: rgb(214, 199, 235);
$lavander-transparent: rgba(214, 199, 235, 0.3);

$blue-deep: #033a60;

$extra-light-grey: #FAFAFA;

$black: #000000;
$white: #ffffff;