@import "./colors";

.btn {
    padding: 10px 20px;
    background-color: rgb(10, 186, 181);
    outline: none;
    border: 1px solid rgb(10, 186, 181);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        background-color: darken(rgb(10, 186, 181), 5%);
    }
    &:active {
        background-color: darken(rgb(10, 186, 181), 5%);
        color: $white;
    }
    &:last-of-type {
        margin-right: 0;
    }
}

.btn-delete {
    padding: 0 5px;
    color: $white;
    background-color: $black;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 2px;

    &_absolute {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

.link {
    cursor: pointer;
    color: $tiffany;
    font-size: 14px;
}

.list-demo {
    list-style: none;
    margin: 10px 0 20px;
    li {
        margin: 10px 0;
    }    
}

.theory, .demo {
    h3 {
        margin: 20px 0 10px;
        text-align: center;
    }
}

.demo-pre {
    margin: 10px 0;
}