<nav class="navigation-left">    
    <li routerLinkActive="active">
      <a routerLink="create-components">How to create components</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="interaction-of-components">Interaction of components</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="lifecycle-hooks">Lifecycle hooks</a>
    </li>    
    
    <li routerLinkActive="active">
      <a routerLink="change-detection-strategy">Change Detection Strategy</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="view-encapsulation">Styles with View encapsulation</a>
    </li>
</nav>
