<nav class="navigation-left">    
    <li routerLinkActive="active">
      <a routerLink="create-components">How to create components</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="parameter-passing">Passing parameters</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="passing-params-from-components">Passing parameters from components</a>
    </li> 

    <li routerLinkActive="active">
      <a routerLink="access-to-html-elements">Access to HTML elements</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="transfer-html-to-component">Passing HTML to a Component</a>
    </li> 

    <li routerLinkActive="active">
      <a routerLink="access-to-content-child">Access to content with ContentChild</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="lifecycle-hooks">Life cycle (lifecycle hooks)</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="change-detection-strategy">Change Detection Strategy</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="styles-view-encapsulation">Styles with View encapsulation</a>
    </li>      
</nav>
