<nav class="navigation">
 
  <li routerLinkActive="active">
      <a routerLink="../../basics-and-syntax">Basics and Syntax</a>      
  </li> 
  
  <li routerLinkActive="active">      
      <a routerLink="../../components-in-detail">Components in details</a>
  </li>

  <li routerLinkActive="active">      
    <a routerLink="../../directives">Directives</a>
  </li>

  <li routerLinkActive="active">
      <a routerLink="pipes">Pipes</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="services">Services</a>
  </li>
    
</nav>
