<nav class="navigation">
 
  <li routerLinkActive="active">
      <a routerLink="../../basics-and-syntax">Basics and Syntax</a>      
  </li> 
  
  <li routerLinkActive="active">      
      <a routerLink="../../components-in-detail">Components in details</a>
  </li>

  <li routerLinkActive="active">      
    <a routerLink="../../directives">Directives</a>
  </li>

  <!-- DirectivesModule -->
  <!-- <li routerLinkActive="active">
      <a routerLink="directives">Directives</a>
  </li> -->

  
  <!-- <li><a href="">Пайпы</a></li>
  <li><a href="">Сервисы</a></li>
  <li><a href="">Формы и валидация</a></li>
  <li><a href="">Работы с сервером (HttpClient)</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li> -->
</nav>
