<h2 class="h2">Loops with ngFor</h2>    

    <p>Lesson 19.</p>

    <div class="description">
        <h3>Case 1</h3>
        <p>We have an array of Fibbonacci numbers. We go through it, 
            and output each element. First we show the sequence number 
            in the array +1, and then the value from the array.
        </p>
    </div>

    <ul class="list">
        <!-- index is a special word  -->
        <li *ngFor = "let n of arr; let idx = index" class="bgr">
            {{idx + 1}}: <strong>{{n}} </strong>
        </li>
    </ul>


    <div class="description">
        <h3>Case 2</h3>
        <p>
        </p>
    </div>

    <ul class="obj-post">
        <li *ngFor = "let post of posts" class="article-box">
            <p class="article-title"> {{ post.title }} 
                <b class="article-author"> {{ post.author }} </b>
            </p>
            <ul class="comments-box">
                <li *ngFor = "let comment of post.comments">
                    <div >
                        <small>{{ comment.name }}</small>
                        <p>{{ comment.text }}</p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>