<h2 class="h2">How to create components</h2>    

<p>Lesson 21.</p>    

<div class="container">
    <div class="row">
        <p class="command">
            ng g c name-for-component
        </p>
        <div class="buffer"></div>
        <p class="description">
            Create new component in app.module. To create new component in 
            another module type 
            <code>ng g c alias/new-name-module-or-component</code> <br>
            If you want to delete the test files, use the command
            <code> --skipTests</code>
        </p>
    </div> 

    <hr>
    <div class="row">
        <p class="command">
            ng g d nameDirective
        </p>
        <div class="buffer"></div>
        <p class="description">
            Create new directive in component. 
        </p>
    </div>  

    <hr>
    <div class="row">
        <p class="command">--</p>
        <div class="buffer"></div>
        <p class="description">
            Creating a component manually.
        </p>
    </div>       
</div>

