<nav class="navigation-left">    
  <li routerLinkActive="active" >
      <a routerLink="templates-styles">Templates and styles</a>
  </li>   

  <li routerLinkActive="active" >
      <a routerLink="interpolation">Interpolation</a>
  </li>    

  <li routerLinkActive="active">
      <a routerLink="what-is-binding">What is binding</a>
  </li>    

  <li routerLinkActive="active">
      <a routerLink="event-binding">Event Binding</a>
  </li>

  <li routerLinkActive="active">
      <a routerLink="two-way-binding">Two Way Binding</a>
  </li>

  <li routerLinkActive="active">
      <a routerLink="ng-style">Directive ngStyle</a>
  </li>

  <li >
      <a >Dynamic classes ngClass</a>
  </li>

  <li >
      <a >
          Conditional display with ngIf else
      </a>
  </li>

  <li routerLinkActive="active">
      <a routerLink="ng-switch">Directive ngSwitch</a>
  </li>

  <li routerLinkActive="active">
      <a routerLink="loops-ng-for">Loops with ngFor</a>
  </li>

  <li routerLinkActive="active">
      <a routerLink="what-is-pipes">What is pipes</a>
  </li>    
</nav>