:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}


.aside-menu {
    border: 1px solid pink;
    width: 50px;
    height: calc(100vh - 102px);
    position: fixed;
    left: 0;
    top: 60px;
}

.content-component {
    width: calc(100vw - 120px);
    height: 100px;
    border: 1px solid blue;
    margin-top: 80px;
    margin-left: 70px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {
    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
svg#rocket-smoke {
    display: none;
    visibility: hidden;
}
}