<nav class="navigation-left">    
  <li routerLinkActive="active">
    <a routerLink="create-directive">How to create directive</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="adding-events">Adding events</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="passing-params-directive">
      Passing parameters <br> to a directive
    </a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="create-structural-directive">
      Create structural <br> directive
    </a>
  </li>
</nav>