<h2>Creating form</h2>

  <p>
    Lesson 52. Create-form works! <br>
    Lesson 53. Create controls. <br>
    Lesson 54. Validators.<br>
    Lesson 55. States visualization. (Classes with state + CSS)<br>
    Lesson 56. Show errors. (Email ahd password) <br>
    Lesson 57. Creating groups. (Nested FormGroup, Address) <br>
    Lesson 58. Dynamic Form Update. (Choose capital) <br>
    Lesson 59. Group values. (Skills, FormArray) <br>
    Lesson 60. Creating a custom validator <br>
    Lesson 61. Asynchronous validators (Ask server about email free.
               In MyValidators) <br>
    Lesson 62. Clean form
  </p>

  <hr>

  <section class="theory">
    <p>Import FormsModule and ReactiveFormsModule to current module.</p>

    <p>
      Add form variable to component.ts with type FormGroup, and Import
      this type. Init this form in the method ngOnInit(). Add binding to
      .html in &#10094;form&#10095; &#10094;/form&#10095;
    </p>

    <p>
      For each button add attribute type="button". For sending button
      add type="submit".
    </p>

    <p>
      Add to element &#10094;form&#10095; &#10094;/form&#10095; handler 
      (ngSubmit)="submit()". Create this method in .ts file.
    </p>

    <p>
      For init controls, add object with params to new FormGroup() into 
      method ngOnInit. Add attribute formControlName="nameFromTs" to the 
      corresponding inputs.
    </p>

    <p>
      Validators adding like arguments to FormControl. It's can be 
      one function or array of functions. Validators - its the grand class 
      from AngularForms. To handle errors add bind property disabled to 
      the button submit. And add if (this.form.valid) to method submit.
    </p>

    <p>
      For visualization state, inspect elements for see state classes,
      add styles for css.  
    </p>

    <p> 
      Add error message to div.invalid (on practice use tooltips).
    </p>

    <p>
      For accept access from html to form.controls when using FormArray 
      in a .ts file, the getControls() method is implemented.
    </p>

    <p>
      Emails v@mail.ru and test@mail.ru are restricted. (Custom validator)
    </p>

    <p>
      To check how works async validator, input email asyc@mail.ru and in
      1 second input will be red (error).
      Added pending state to submit button.
    </p>

    <p>
      To clean form after sending, call this.form.reset() in submitForm 
      method.
    </p>
  </section>

  <section class="demo">
    <h3>How it works</h3>

    <div class="container">
      <form class="card" 
        [formGroup]="form"
        (ngSubmit)="submitForm()">

        <h4 class="mt-0">Angular forms</h4>

        <div class="form-control">
          <label for="card-email">Email</label>

          <input type="text" 
            id="card-email" 
            formControlName="email"
            placeholder="email">
  <!-- Show errors array under input email -->
  <!-- <pre>
    {{form.get('email')?.errors | json}}
  </pre> -->

          <div class="validation"
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          >
            <small class="message-error"
            *ngIf="form.get('email')?.errors?.['required']"
              >The email field cannot be empty.
            </small>

            <small class="message-error"
              *ngIf="form.get('email')?.errors?.['email']"
              >Please, enter a valid email.
            </small>

            <small class="message-error"
              *ngIf="form.get('email')?.errors?.['restrictedEmail']"
              >Email {{form.get('email')?.value}} is restricted.
            </small>

            <small class="message-error"
              *ngIf="form.get('email')?.errors?.['uniqEmail']"
              >Email {{form.get('email')?.value}} is not unique.
            </small>

          </div>        
        </div>

        <div class="form-control">
          <label for="card-password">Password</label>

          <input type="password" 
            id="card-password" 
            formControlName="password"
            placeholder="Password">
  <!-- Show errors array under input password -->
  <!-- <pre>
    {{form.get('password')?.errors | json}}
  </pre> -->

          <div class="validation"
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            
            <small class="message-error"
              *ngIf="form.get('password')?.errors?.['required']"
              >The password field cannot be empty.
            </small>

            <small class="message-error"
              *ngIf="form.get('password')?.errors?.['minlength']">
                Length must be at least 
                {{form.get('password')?.errors?.['minlength'].requiredLength}} 
                characters. 
                Now the number of characters
                {{form.get('password')?.errors?.['minlength'].actualLength}}
            </small>

          </div>
        </div>

        <div class="card-block" formGroupName="address">
          <h4>Address</h4>

          <div class="form-control">
            <label for="card-country">Country</label>
            <select id="card-country"
              formControlName="country">
                <option value="fr">France</option>
                <option value="ua">Ukraine</option>
                <option value="it">Italy</option>
                <option value="gr">Germany</option>
            </select>
          </div>

          <div class="form-control">
            <input type="text"
              formControlName="city"
              placeholder="City">
          </div>

          <button class="btn" 
            type="button"
            (click)="setCapital()"
          >Choose capital</button>
        </div>

        <div class="card-block" formGroupName="skills">
          <h4 class="mb-20">Your skills</h4>

          <button class="btn"
            type="button"
            (click)="addSkill()"
          >Add skill</button>

          <div class="form-control"
            *ngFor="let control of getControls('skills'); let i = index">
            <label for="">Skill {{i + 1}}</label>
            <input type="text" [formControlName]="i">
          </div>
        </div>

        <div class="card-block">
          <button class="btn send-btn"
            type="submit"
            [disabled]="form.invalid || form.pending"
          >Send form</button>
        </div>
        
      </form>
    </div>
  </section>