<h2 class="h2">What is Pipes</h2>    

<p>Lesson 20.</p>    

<p class="pipe-item">
    Just standard string. Syntax on double braces. 
    In this case, Angular creates a new date object and calls 
    its method .toString <br>
    <strong> {{ now }}</strong> 
</p>

<p class="pipe-item">
    With pipe. Syntax: "now | date"  <br>
    <strong> {{ now | date }}</strong>
</p>

<p class="pipe-item">
    With pipe. Syntax: "now | date: 'long'"  <br>
    <strong> {{ now | date: 'long' }}</strong>
</p>

<p class="pipe-item">
    With pipe. Syntax: "now | date:'long' | uppercase"  <br>
    <strong> {{ now | date:'long' | uppercase }}</strong>
</p>

<p class="pipe-item">
    With pipe. Syntax: "now | date:'long' | lowercase"  <br>
    <strong> {{ now | date:'long' | lowercase }}</strong>
</p>

