<nav class="navigation-left">    
  <li routerLinkActive="active">
    <a routerLink="pipes-numbers">Pipes for numbers</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="pipes-strings">Pipes for strings</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="pipes-date">Pipes for date</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="pipes-rest">Rest pipes</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="pipes-create">Creating a pipe</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="lists-filtering">Lists filtering</a>
  </li>

  <li routerLinkActive="active">
    <a routerLink="pipe-async">Pipe async</a>
  </li>
</nav>
